@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./typography.css);
@import url(./scroll.css);
/* @import url(./scroll.css); */
* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-wrap: balance;
}
html {
    scroll-behavior: smooth;
}
@layer base {
    :root {
        --background: 222 47% 97%;
        --foreground: 0 0% 9%;

        --card: 0 0% 100%; /* Не используется */
        --card-foreground: 222.2 84% 4.9%; /* Не используется */

        --popover: 0 0% 100%; /* Не используется */
        --popover-foreground: 222.2 84% 4.9%; /* Не используется */

        --primary: 220 80% 43%;
        --primary-foreground: 215 38% 87%; /* Не используется */

        --secondary: 353 79.59% 51.96%;
        --secondary-foreground: 222.2 47.4% 11.2%; /* Не используется */

        --muted: 210 40% 96.1%; /* Не используется */
        --muted-foreground: 215.4 16.3% 46.9%; /* Не используется */

        --accent: 210 40% 96.1%; /* Не используется */
        --accent-foreground: 222.2 47.4% 11.2%; /* Не используется */

        --destructive: 0 84.2% 60.2%; /* Не используется */
        --destructive-foreground: 210 40% 98%; /* Не используется */

        --border: 214.3 31.8% 91.4%; /* Не используется */
        --input: 214.3 31.8% 91.4%; /* Не используется */
        --ring: 222.2 84% 4.9%; /* Не используется */

        --radius: 0.5rem; /* Не используется */
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground;
    }
}
